/*org===================================================================================*/

_::-webkit-full-page-media, _:future, :root, body {
  -webkit-animation: safariFix 1s forwards infinite;
  }
  @-webkit-keyframes safariFix {
  100% {
  z-index: 1;
  }
  }

  html {
    font-size: 100%;
    
    @media (min-width: 375px) {
      font-size: calc(100% + 100vw + 3 / 375);
    }
  }

/*9587cb*/
/*3eb2d2*/
/*f8cb4b*/
/*f58a63*/
/*dc5b7e*/
/*c0c662*/

.header {
 width: 100%;
 z-index: 98;
 display: flex;
 align-items: center;
}
.logoaera {
 text-align: center;
 z-index: 99;
 margin: 0;
 padding: 0;
}
.logomm {
 width: calc(60px + (160 - 100)*(100% - 400px)/(1200 - 600));
}
.g-menu {
 top: 0px;
 position: relative;
 display: -webkit-flex;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.g-item {
 text-align: center;
}

/*
.g-menu .g-item:nth-of-type(4) {
 margin-left: auto;
}
*/
.smn{font-size: calc(0.25vw + 0.5rem);}


.line-a{background: linear-gradient(transparent 70%, #9587cb 70%);padding-bottom: 8px;font-size: calc(0.25vw + 1rem);}
.line-b{background: linear-gradient(transparent 70%, #3eb2d2 70%);padding-bottom: 8px;font-size: calc(0.25vw + 1rem);}
.line-c{background: linear-gradient(transparent 70%, #f8cb4b 70%);padding-bottom: 8px;font-size: calc(0.25vw + 1rem);}
.line-d{background: linear-gradient(transparent 70%, #f58a63 70%);padding-bottom: 8px;font-size: calc(0.25vw + 1rem);}
.line-e{background: linear-gradient(transparent 70%, #dc5b7e 70%);padding-bottom: 8px;font-size: calc(0.25vw + 1rem);}
.line-f{background: linear-gradient(transparent 70%, #c0c662 70%);padding-bottom: 8px;font-size: calc(0.25vw + 1rem);}

.title-b{padding: 0.5em; color: #010101;  background: #3eb2d2;}
.title-c{padding: 0.5em; color: #010101;  background: #f8cb4b;}




.bg-a {
 background: rgb(149, 135, 203);
 background: linear-gradient(180deg, rgba(149, 135, 203, 1) 0%, rgba(149, 135, 203, 0.6386263978247548) 50%, rgba(149, 135, 203, 0) 100%);
}

.title-a {
 position: relative;
 display: inline-block;
 margin: 1rem 0 1rem -10px;
 padding: 1rem 3rem;
 color: #fff;
 border-radius: 0 100vh 100vh 0;
 background: #9587cb;
 -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
 box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}
.title-a:before {
 position: absolute;
 bottom: -10px;
 left: 0;
 width: 0;
 height: 0;
 content: '';
 border-top: 10px solid #005276;
 border-left: 10px solid transparent;
}